section {
    width: 500px;
    height: 500px;
    background-color: magenta;
}  

#rgba {
    width: 50%;
    height: 50%; 
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
}

#static #middle {
    position: static; 
    top: 100px;
}

#relative #middle {
    position: relative;
    top: 100px;         
}

#absolute {
    position: absolute;
}

#absolute #middle {
    position: absolute;
    
}

#fixed #middle {
    position: fixed;
}