h2 {
    color: blue;
    background-color: rgb(67, 78, 34);
    text-align: center;
    font-weight: 400;
    text-decoration: #f78120 underline wavy;
    letter-spacing: 15px;
    font-size: 80px;    
    font-family: Arial, Helvetica, sans-serif;   
}

button {
    color: magenta;
    background-color: cyan;
}

p {
    color: olive;
    background: #cc55ee;
    line-height: 2;
}

/* Do not forget the semicolon, ever! */

/* Common CSS Text properties:
- text-align
- font-weight
- text-decoration  
- line-height  
- letter-spacing 
*/