h2 {
    color: blue;
    background-color: rgb(67, 78, 34);
    
}

button {
    color: magenta;
    background-color: cyan;
}

p {
    color: olive;
    background: #cc55ee;
}

/* Do not forget the semicolon, ever! */

/* Common CSS Text properties:
- text-align
- font-weight
- text-decoration  
- line-height  
- letter-spacing 
*/